<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.le.matrix.redis.dao.IQuotaBaseDao">
	<resultMap id="BaseResultMap" type="com.le.matrix.redis.model.QuotaBase">
		<id column="ID" jdbcType="BIGINT" property="id" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="TYPE" jdbcType="VARCHAR" property="type" />
		<result column="VALUE" jdbcType="BIGINT" property="value" />
		<result column="DESCN" jdbcType="VARCHAR" property="descn" />
		<result column="DELETED" jdbcType="TINYINT" property="deleted" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="CREATE_USER" jdbcType="BIGINT" property="createUser" />
		<result column="UPDATE_USER" jdbcType="BIGINT" property="updateUser" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, NAME, TYPE, VALUE, DESCN, DELETED, CREATE_TIME, UPDATE_TIME,
		CREATE_USER, UPDATE_USER
	</sql>
	<sql id="Common_Where_Clause">
	    where 1=1
	    <trim suffixOverrides=",">
	        <if test="id != null ">
	            and quotaBase.ID=#{id}
	        </if>
	        <if test="name != null ">
	            and quotaBase.NAME=#{name}
	        </if>
	        <if test="type != null ">
	            and quotaBase.TYPE=#{type}
	        </if>
	        <if test="value != null ">
	            and quotaBase.VALUE=#{value}
	        </if>
	        <if test="descn != null ">
	            and quotaBase.DESCN=#{descn}
	        </if>
	        <if test="deleted != null ">
	            and quotaBase.DELETED=#{deleted}
	        </if>
	        <if test="createTime != null ">
	            and quotaBase.CREATE_TIME=#{createTime}
	        </if>
	        <if test="updateTime != null ">
	            and quotaBase.UPDATE_TIME=#{updateTime}
	        </if>
	        <if test="createUser != null ">
	            and quotaBase.CREATE_USER=#{createUser}
	        </if>
	        <if test="updateUser != null ">
	            and quotaBase.UPDATE_USER=#{updateUser}
	        </if>
	    </trim>
	</sql>
	<select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from 
			TERRA_QUOTA_BASE
		where ID = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from TERRA_QUOTA_BASE
		where ID = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.le.matrix.redis.model.QuotaBase">
		insert into TERRA_QUOTA_BASE 
			(ID, NAME, TYPE,
			VALUE, DESCN, DELETED,
			CREATE_TIME, UPDATE_TIME, CREATE_USER,
			UPDATE_USER)
		values 
			(#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
			#{type,jdbcType=VARCHAR},
			#{value,jdbcType=BIGINT}, #{descn,jdbcType=VARCHAR}, #{deleted,jdbcType=TINYINT},
			#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
			#{createUser,jdbcType=BIGINT},
			#{updateUser,jdbcType=BIGINT})
	</insert>
	<insert id="insertSelective" parameterType="com.le.matrix.redis.model.QuotaBase">
		insert into TERRA_QUOTA_BASE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="type != null">
				TYPE,
			</if>
			<if test="value != null">
				VALUE,
			</if>
			<if test="descn != null">
				DESCN,
			</if>
			<if test="deleted != null">
				DELETED,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="updateTime != null">
				UPDATE_TIME,
			</if>
			<if test="createUser != null">
				CREATE_USER,
			</if>
			<if test="updateUser != null">
				UPDATE_USER,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="value != null">
				#{value,jdbcType=BIGINT},
			</if>
			<if test="descn != null">
				#{descn,jdbcType=VARCHAR},
			</if>
			<if test="deleted != null">
				#{deleted,jdbcType=TINYINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=BIGINT},
			</if>
			<if test="updateUser != null">
				#{updateUser,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.le.matrix.redis.model.QuotaBase">
		update TERRA_QUOTA_BASE
		<set>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				TYPE = #{type,jdbcType=VARCHAR},
			</if>
			<if test="value != null">
				VALUE = #{value,jdbcType=BIGINT},
			</if>
			<if test="descn != null">
				DESCN = #{descn,jdbcType=VARCHAR},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=TINYINT},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null">
				CREATE_USER = #{createUser,jdbcType=BIGINT},
			</if>
			<if test="updateUser != null">
				UPDATE_USER = #{updateUser,jdbcType=BIGINT},
			</if>
		</set>
		where ID = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.le.matrix.redis.model.QuotaBase">
		update TERRA_QUOTA_BASE
		set 
			NAME = #{name,jdbcType=VARCHAR},
			TYPE = #{type,jdbcType=VARCHAR},
			VALUE = #{value,jdbcType=BIGINT},
			DESCN = #{descn,jdbcType=VARCHAR},
			DELETED = #{deleted,jdbcType=TINYINT},
			CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
			CREATE_USER = #{createUser,jdbcType=BIGINT},
			UPDATE_USER = #{updateUser,jdbcType=BIGINT}
		where ID = #{id,jdbcType=BIGINT}
	</update>
	
	<select id="selectByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
	    select
	        <include refid="Base_Column_List" />
	    from
	        TERRA_QUOTA_BASE quotaBase
	        <include refid="Common_Where_Clause" />
	</select>
</mapper>